var array = require('./array.wxs');
var object = require('./object.wxs');
var PREFIX = 'wxc-';

function join(name, mods, prefix) {
  name = (prefix === undefined ? PREFIX : '') + name;
  mods = mods.map(function(mod) {
    return name + '--' + mod;
  });
  mods.unshift(name);
  return mods.join(' ');
}

function traversing(mods, conf) {
  if (!conf) {
    return;
  }

  if (typeof conf === 'string' || typeof conf === 'number') {
    mods.push(conf);
  } else if (array.isArray(conf)) {
    conf.forEach(function(item) {
      traversing(mods, item);
    });
  } else if (typeof conf === 'object') {
    object.keys(conf).forEach(function(key) {
      conf[key] && mods.push(key);
    });
  }
}

function bem(name, conf, prefix) {
  var mods = [];
  traversing(mods, conf);
  var rest = join(name, mods, prefix);
  // console.log('bem:' + rest);
  return rest;
}

module.exports.bem = bem;